---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import hero from "../images/hero.jpg";
import { Image } from "astro:assets";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle} , showTitle={false}>
  <div class="pl-10 pr-10">
    <div class="hero min-h-screen">
      <div class="hero-content flex-col lg:flex-row">
        <Image
          src={hero}
          alt="Michael Quick in front of a model ship."
          class="max-w-sm rounded-lg shadow-2xl"
          loading={"eager"}
        />
        <div>
          <h1 class="text-5xl font-bold">Hi There! I'm Michael Quick!</h1>
          <p class="py-6">
            I'm a undergraduate computer science student at the University of
            Western Ontario, and this is my website!
          </p>
        </div>
      </div>
    </div>
    <section class="pb-10">
      <h2 class="font-semibold text-5xl">About Me</h2>
      <p class="py-6 max-w-prose">I'm a hard working student and developer who likes to create and build! I like to try many things, whether it be technology related, food, or activities. I made this website to showcase myself as a person and professionally!</p>

      <h4>Feel free to check out more <a href="/about">about me</a>, have a look at my <a>blog</a>, or take a look at some of my <a>projects</a>!</h4>
    </section>
  </div>
</BaseLayout>
