---
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = [
  {
    name: "Auto Cover Letter",
    description: "My team's entry into Dataquest 2025, which made the finals. The simple web app turns resume and job info into custom cover letters.",
    url: "https://github.com/raginggoosedev/auto-cover-letter"
  },
  {
    name: "Untitled Game - Final Project",
    description: "LibGDX top down, dungeon hack and slash which I created with a friend as a final project.",
    url: "https://github.com/your-username/another-repo"
  },
  {
    name: "My Website",
    description: "You're on it right now! I built this website from scratch using Astro, TailwindCSS, and DaisyUI!",
    url: "https://github.com/ExplorerDonutz/michaelquick_ca"
  }
];
---

<BaseLayout pageTitle="Projects" showTitle>
    <div class="w-full p-10 space-y-16">
    <h2 class="text-3xl font-bold mb-6">My GitHub Projects</h2>
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {projects.map((project) => (
        <a
          href={project.url}
          target="_blank"
          rel="noopener noreferrer"
          class="card bg-base-100 shadow-md p-4 hover:shadow-lg transition-transform transform hover:-translate-y-1"
        >
          <h3 class="text-xl font-semibold">{project.name}</h3>
          <p class="mt-2 text-gray-600">{project.description}</p>
        </a>
      ))}
    </div>
  </div>
</BaseLayout>