---
import { Icon } from "astro-icon/components";
---

<footer
    class="flex flex-col sm:flex-row gap-8 justify-between items-start sm:items-center p-10 bg-base-200"
>
    <!-- Brand -->
    <aside class="flex flex-col items-start gap-2">
        <p class="font-semibold text-2xl flex items-center gap-2 pb-1">
            Michael Quick
        </p>
        <small>Copyright © 2025 - All rights reserved</small>

        <button
            class="text-sm mt-1 hover:text-accent-content transition-colors"
            type="button"
            data-cc="show-preferencesModal">Customize cookies</button
        >
    </aside>

    <!-- Socials -->
    <nav class="flex gap-8 self-center sm:self-auto">
        <a
            class="btn btn-ghost btn-sm btn-circle hover:bg-transparent"
            href="https://github.com/ExplorerDonutz"
            target="_blank"
        >
            <Icon
                name="fa6-brands:github"
                class="text-4xl"
                title="My Github Link"
            />
        </a>
        <a
            class="btn btn-ghost btn-sm btn-circle hover:bg-transparent"
            href="https://www.linkedin.com/in/michael-quick-467bb021b/"
            target="_blank"
        >
            <Icon
                name="fa6-brands:linkedin"
                class="text-4xl"
                title="My LinkedIn Link"
            />
        </a>
    </nav>
</footer>
