---
import { Icon } from "astro-icon/components";
---

<label class="swap swap-rotate">
  <!-- this hidden checkbox controls the state -->
  <input
    type="checkbox"
    class="theme-controller"
    id="theme-toggle"
    value="dark"
  />

  <!-- sun icon -->
  <Icon
    class="swap-off h-10 w-10 fill-current"
    name="iconamoon:mode-light-light"
  />

  <!-- moon icon -->
  <Icon
    class="swap-on h-10 w-10 fill-current"
    name="iconamoon:mode-dark-light"
  />
</label>

<script>
  const checkbox = document.getElementById("theme-toggle") as HTMLInputElement;
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const savedTheme = localStorage.getItem("theme");
  const currentTheme = savedTheme || (prefersDark ? "dark" : "light");

  document.documentElement.setAttribute("data-theme", currentTheme);
  if (checkbox != null) {
    checkbox.checked = currentTheme === "dark";

    checkbox.addEventListener("change", () => {
      const newTheme = checkbox.checked ? "dark" : "light";
      document.documentElement.setAttribute("data-theme", newTheme);
      localStorage.setItem("theme", newTheme);
    });
  }
</script>
