---
import ThemeIcon from "./ThemeIcon.astro";
import {Icon} from "astro-icon/components";
---

<div class="navbar bg-base-100 shadow-sm pl-10 pr-10">
  <div class="navbar-start">
    <div class="dropdown mr-2 lg:mr-0">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <Icon class="h-6 w-6 fill-current" name="iconamoon:menu-burger-horizontal-light" />
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </div>
    <a class="text-xl font-semibold hover:bg-transparent hover:shadow-none px-0" href="/">Michael Quick</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a class="hover:bg-base-300 text-lg" href="/">Home</a></li>
      <li><a class="hover:bg-base-300 text-lg" href="/about">About</a></li>
      <li><a class="hover:bg-base-300 text-lg" href="/blog">Blog</a></li>
      <li><a class="hover:bg-base-300 text-lg" href="/projects">Projects</a></li>
    </ul>
  </div>

  <div class="navbar-end">
    <ThemeIcon />
  </div>
</div>
