---
import Header from "../components/TopNavigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle, showTitle } = Astro.props;
---

<html data-theme="light" class="bg-primary" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{"Michael Quick | " + pageTitle}</title>
    </head>
    <body>
        <Header />
        {showTitle && <h1 class="font-semibold text-4xl pl-10 pt-10">{pageTitle}</h1>}
        <slot />
        <Footer />
    </body>
</html>
